@model List<chefsndishes.Models.Dish>
<div class="container">
    <div class="row" style="margin-top: 15px">
        <div class="col-sm-10" style="text-align: center">
            <h1><a href="/">Chefs</a>  |  Dishes</h1>
        </div>
        <div class="col-sm-2">
            <a href="/dishes/new">Add a Dish</a>
        </div>
    </div>
    <div class="row" style="margin: 25px">
        <h2>Yum, take a look at our tasty dishes!</h2>
        <hr>
    </div>
    <table class="table table-striped">
        <thead>
            <th>Name</th>
            <th>Chef</th>
            <th>Tastiness</th>
            <th>Calories</th>
        </thead>
        <tbody>
            @foreach(Dish item in Model){
            <tr>
                <td>@item.Name</td>
                <td>@item.Creator.FirstName @item.Creator.LastName</td>
                <td>@item.Tastiness</td>
                <td>@item.Calories</td>
            </tr>
            }
        </tbody>
    </table>
</div>